@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Playfair Display", serif;    
  --tertiary-font: "Dancing Script", cursive;

  /* main elements like headers, primary action buttons, and important links */
  --primary-color: #007bff; /* Calm blue */
  
  /* supporting elements like secondary buttons, less important links, messages and borders */
  /* --secondary-color: #28a745; Balanced green */
  
  --tertiary-color: #6f42c1; /* Introspective purple */
  
  --background-color: #f8f9fa; /* Light gray for the background */
  --text-color: #343a40; /* Dark gray for the text */
}

/* Global */
body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--text-color);
  padding-top: 40px;
}
h2 {
  font-family: var(--secondary-font);
  color: var(--primary-color); 
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.5rem;
  
}
body .btn { 
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  color: white;
  opacity: 0.7;
  padding: 10px 20px; /* Adjust the size of the button */
  font-size: 0.9rem; /* Adjust the font size */
  border-radius: 5px; /* Optional: Add rounded corners */
}
body .btn:hover {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  color: white;
  opacity: 1;
}

/* Navbar */
.navbar {
  border: 2px solid var(--primary-color); 
  background-color: var(--primary-color);  
} 
#navbarNav * {
  color: white;      
} 
.navbar-toggler-icon {
  border-color: white;      
}
.navbar-brand{
  /* font-family: var(--tertiary-font);  */
  font-weight: 600;
  font-style: normal;
  /* font-size: 40px; */
  color: white;
}

.section {
  padding-top: 20px; /*prevent navbar from overlapping content */
}

#footer-page { 
  background-color: var(--primary-color);
  color: white;
  padding: 20px 0;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

#footer-page {
  color: white;
}

#footer-page a {
  color: white;
  text-decoration: none;
}

#footer-page a:hover {
  color: #ddd; /* Cor ao passar o mouse, opcional */
}

/* Hero section */
.hero-section {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }  
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(219, 170, 170, 0.7); /* Ajuste a opacidade conforme necessário */
    z-index: 1;
  }
  
  .hero-section .container {
    position: relative;
    z-index: 2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  .hero-section p {
    font-size: 2rem;
  }
  .hero-section .container h1{
    font-family: var(--tertiary-font);
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
  }
  /* Quote card */
    .quote-card {
    /* background-color: #f8f9fa; */
    background-color: #D6EAFF;
    border: none;
    /* border-left: 5px solid #007bff; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }  
  .quote-card .card-body {
    padding: 20px;
  }  
  .quote-card blockquote {
    font-style: italic;
    color: #555;
  }  
  .quote-card .blockquote-footer {
    font-size: 0.875rem;
    color: #6c757d;
  }  
  .carousel-fade .carousel-item {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }  
  .carousel-fade .carousel-item.active {
    opacity: 1;
  }

  /* External Resources */
  .card-body {
    padding: 1rem;
  }  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }  
  .card-text {
    margin-bottom: 1rem;
  }

  #subscribe {
    background-color: #D6EAFF;
  }

  #helplines .card img{
    height: 60px;
    /* border: 2px solid  red; */
  }

  /* Medium devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    #guide .card {
      margin-bottom: 20px;
    }    
    h2 {
      font-size: 2rem; 
    }
    .hero-section .container h1{
      font-family: var(--tertiary-font);
      font-size: 2.5rem;
    }
    .section {
      padding-top: 59px; /*prevent navbar from overlapping content */
    }
  }

  /* Large devices (desktops, 992px and up)  */
  @media screen and  (min-width: 992px) { 
    h2 {     
      font-size: 3rem;
      color: var(--primary-color);       
    } 
    .hero-section .container h1{
      font-family: var(--tertiary-font);
      color:green;
      font-weight: 400;
      font-style: normal;
      font-size: 4em;
    }
  }

  
  