main div {
    /* border: 1px solid black; */
}

/* Hero section */
.hero-section {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }
  
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(219, 170, 170, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: 1;
  }
  
  .hero-section .container {
    position: relative;
    z-index: 2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .hero-section p {
    font-size: 2rem;
  }

/* Quote card */
.quote-card {
    /* background-color: #f8f9fa; */
    background-color: yellow;
    border: none;
    border-left: 5px solid #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .quote-card .card-body {
    padding: 20px;
  }
  
  .quote-card blockquote {
    font-style: italic;
    color: #555;
  }
  
  .quote-card .blockquote-footer {
    font-size: 0.875rem;
    color: #6c757d;
  }
  
  .carousel-fade .carousel-item {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .carousel-fade .carousel-item.active {
    opacity: 1;
  }